<ion-content [fullscreen]="true">


  <div id="container">
    <div class="slogan-container">

      <img class="coink-logo" src="./../../../assets/svg/coink-full-icon.svg" width="125" height="154" />
  
      <h2 class="page-description"> LA ALCANCÍA QUE SIEMPRE <br> TE ACOMPAÑA </h2>
    </div>
    <div class="container-buttons">
      <button type="button" class="btn btn-register" (click)="navigateToOtherPage()">REGÍSTRATE</button>
      <button class="btn btn-login" (click)="navigateToOtherPage()">INGRESA</button>
     
    </div>
  </div>
</ion-content>